In [1]:
import pandas as pd
import time

In [3]:
elevenData = pd.read_csv("11v11_data.csv")
premData = pd.read_csv("prem_data.csv")

In [4]:
print("Size of 11v11 Dataset: {} games".format(len(elevenData)))
print("Size of Prem Dataset: {} games".format(len(premData)))
print("Target size: 10000 total games")

Size of 11v11 Dataset: 10126 games
Size of Prem Dataset: 10651 games
Target size: 10000 total games

In [5]:
s = elevenData["Date"].tolist()
#for date in s:
    #if len(str(date)) != 8:
        #print(date)

In [6]:
early_dict = {"1992":0,"1993":1,"1994":2}
n = 3
for i in range(1995,2018):
    early_dict[str(i)] = n
    n += 1
early_dict["2018"] = 26

def get_season_from_date(row):
    d = str(row['Date'])
    date = d
    if len(d) != 8:
        date = "0" + d
    newdate1 = time.strptime(date, "%d%m%Y")
    newdate2 = time.strptime("3105"+date[-4:], "%d%m%Y")
    early = newdate1 < newdate2
    
    
    season = early_dict.get(str(date[-4:]))
    if not(early):
        season += 1
    return int(season)

In [7]:
elevenData["Season"] = elevenData.apply(get_season_from_date,axis=1)

In [8]:
prev = 0
season_col = elevenData["Season"].tolist()
for i in range(len(season_col)-1):
    cur = int(season_col[i])
    if prev != cur:
        print(cur,end=",")
    prev = cur

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,

In [9]:
def convert_date_to_int(row):
    return int(str(row["Date"]))
premData["Date"] = premData.apply(convert_date_to_int,axis=1)

In [10]:
premData["Season"] = premData.apply(get_season_from_date,axis=1)

In [11]:
prev = 0
season_col = premData["Season"].tolist()
for i in range(len(season_col)-1):
    cur = int(season_col[i])
    if prev != cur:
        print(cur,end=",")
    prev = cur

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,

In [12]:
premData.head()

,prem.com ID,Date,Home Team,Away Team,Score,Stadium,Referee,Season
0,1,15081992,arsenal,norwich,2-4,highbury,alan gunn,1
1,2,15081992,chelsea,oldham,1-1,stamford bridge,jim borrett,1
2,3,15081992,coventry,middlesbrough,2-1,highfield road,howard king,1
3,4,15081992,crystal palace,blackburn,3-3,selhurst park,roger milford,1
4,5,15081992,everton,sheffield wed,1-1,goodison park,kelvin morton,1

In [13]:
premData.drop(['Stadium'],axis=1,inplace=True)
premData.head()

,prem.com ID,Date,Home Team,Away Team,Score,Referee,Season
0,1,15081992,arsenal,norwich,2-4,alan gunn,1
1,2,15081992,chelsea,oldham,1-1,jim borrett,1
2,3,15081992,coventry,middlesbrough,2-1,howard king,1
3,4,15081992,crystal palace,blackburn,3-3,roger milford,1
4,5,15081992,everton,sheffield wed,1-1,kelvin morton,1

In [14]:
elevenData.head()

,11v11 ID,Date,Home Team,Away Team,Stadium,Referee,Home Players,Away Players,Home Scorers,Away Scorers,Season
0,20787,15081992,arsenal,norwich,highbury,alan gunn,"['5(90)', '14(90)', '31(90)', '484(90)', '20(9...","['38002(90)', '24730(90)', '26985(90)', '4690(...","['196', '484']","['511', '2266', '2266', '38680']",1
1,20788,15081992,chelsea,oldham,stamford bridge,jim borrett,"['4048(90)', '35852(90)', '24035(90)', '4755(9...","['1388(90)', '34467(90)', '76(90)', '1550(90)'...",['37518'],['1427'],1
2,20789,15081992,coventry,middlesbrough,highfield road,howard king,"['151(90)', '6177(90)', '25821(90)', '25248(90...","['25259(90)', '3723(90)', '34052(90)', '3471(9...","['1062', '5386']",['11296'],1
3,20790,15081992,crystal palace,blackburn,selhurst park,roger milford,"['234(90)', '34632(90)', '36445(90)', '995(81)...","['5223(90)', '27669(90)', '3482(90)', '302(90)...","['43', '2074', '37263']","['362', '362', '448']",1
4,20791,15081992,everton,sheffield wed,goodison park,kelvin morton,"['2448(90)', '32094(90)', '4172(90)', '188(90)...","['25058(90)', '25496(90)', '15912(90)', '34286...",['400'],['34286'],1

In [15]:
def fix_date_column(row):
    raw_date = str(row['Date'])
    date = raw_date
    if len(raw_date) != 8:
        date = "0" + raw_date
    if len(date) != 8:
        print(date)
        return date
    else:
        day = str(date[0:2])
        month = str(date[2:4])
        year = str(date[4:8])
        final_date = str(month) + "-" + str(day) + "-" + str(year)
        return final_date
    
premData["Date"] = premData.apply(fix_date_column,axis=1)
elevenData["Date"] = elevenData.apply(fix_date_column,axis=1)

In [16]:
premData.head()

,prem.com ID,Date,Home Team,Away Team,Score,Referee,Season
0,1,08-15-1992,arsenal,norwich,2-4,alan gunn,1
1,2,08-15-1992,chelsea,oldham,1-1,jim borrett,1
2,3,08-15-1992,coventry,middlesbrough,2-1,howard king,1
3,4,08-15-1992,crystal palace,blackburn,3-3,roger milford,1
4,5,08-15-1992,everton,sheffield wed,1-1,kelvin morton,1

In [17]:
elevenData.head()

,11v11 ID,Date,Home Team,Away Team,Stadium,Referee,Home Players,Away Players,Home Scorers,Away Scorers,Season
0,20787,08-15-1992,arsenal,norwich,highbury,alan gunn,"['5(90)', '14(90)', '31(90)', '484(90)', '20(9...","['38002(90)', '24730(90)', '26985(90)', '4690(...","['196', '484']","['511', '2266', '2266', '38680']",1
1,20788,08-15-1992,chelsea,oldham,stamford bridge,jim borrett,"['4048(90)', '35852(90)', '24035(90)', '4755(9...","['1388(90)', '34467(90)', '76(90)', '1550(90)'...",['37518'],['1427'],1
2,20789,08-15-1992,coventry,middlesbrough,highfield road,howard king,"['151(90)', '6177(90)', '25821(90)', '25248(90...","['25259(90)', '3723(90)', '34052(90)', '3471(9...","['1062', '5386']",['11296'],1
3,20790,08-15-1992,crystal palace,blackburn,selhurst park,roger milford,"['234(90)', '34632(90)', '36445(90)', '995(81)...","['5223(90)', '27669(90)', '3482(90)', '302(90)...","['43', '2074', '37263']","['362', '362', '448']",1
4,20791,08-15-1992,everton,sheffield wed,goodison park,kelvin morton,"['2448(90)', '32094(90)', '4172(90)', '188(90)...","['25058(90)', '25496(90)', '15912(90)', '34286...",['400'],['34286'],1

In [18]:
premData["Date"] = pd.to_datetime(premData.Date)
elevenData["Date"] = pd.to_datetime(elevenData.Date)

In [19]:
premData.head()

,prem.com ID,Date,Home Team,Away Team,Score,Referee,Season
0,1,1992-08-15,arsenal,norwich,2-4,alan gunn,1
1,2,1992-08-15,chelsea,oldham,1-1,jim borrett,1
2,3,1992-08-15,coventry,middlesbrough,2-1,howard king,1
3,4,1992-08-15,crystal palace,blackburn,3-3,roger milford,1
4,5,1992-08-15,everton,sheffield wed,1-1,kelvin morton,1

In [20]:
premData.sort_values(by=['Date','Home Team'],inplace=True)
elevenData.sort_values(by=['Date','Home Team'],inplace=True)

In [21]:
premData.head(100)

,prem.com ID,Date,Home Team,Away Team,Score,Referee,Season
0,1,1992-08-15,arsenal,norwich,2-4,alan gunn,1
1,2,1992-08-15,chelsea,oldham,1-1,jim borrett,1
2,3,1992-08-15,coventry,middlesbrough,2-1,howard king,1
3,4,1992-08-15,crystal palace,blackburn,3-3,roger milford,1
4,5,1992-08-15,everton,sheffield wed,1-1,kelvin morton,1
5,6,1992-08-15,ipswich,aston villa,1-1,alf buksh,1
6,7,1992-08-15,leeds,wimbledon,2-1,gerald ashby,1
7,8,1992-08-15,sheffield utd,man utd,2-1,brian hill,1
8,9,1992-08-15,southampton,spurs,0-0,vic callow,1
9,10,1992-08-16,nottingham forest,liverpool,1-0,mike reed,1
10,11,1992-08-17,man city,qpr,1-1,martin bodenham,1
11,12,1992-08-18,blackburn,arsenal,1-0,joe worrall,1
12,13,1992-08-18,wimbledon,ipswich,0-1,robert hart,1
13,14,1992-08-19,aston villa,leeds,1-1,keith hackett,1
14,15,1992-08-19,liverpool,sheffield utd,2-1,david elleray,1
15,16,1992-08-19,man utd,everton,0-3,keren barratt,1
16,17,1992-08-19,middlesbrough,man city,2-0,stephen lodge,1
17,18,1992-08-19,norwich,chelsea,2-1,gerald ashby,1
18,19,1992-08-19,oldham,crystal palace,1-1,mike peck,1
19,20,1992-08-19,qpr,southampton,3-1,ray bigger,1
20,21,1992-08-19,sheffield wed,nottingham forest,2-0,philip don,1
21,22,1992-08-19,spurs,coventry,0-2,dermot gallagher,1
22,23,1992-08-22,aston villa,southampton,1-1,kelvin morton,1
23,24,1992-08-22,blackburn,man city,1-0,robert hart,1
24,25,1992-08-22,man utd,ipswich,1-1,gerald ashby,1
25,26,1992-08-22,middlesbrough,leeds,4-1,david allison,1
26,27,1992-08-22,norwich,everton,1-1,john key,1
27,28,1992-08-22,oldham,nottingham forest,5-3,ron groves,1
28,29,1992-08-22,qpr,sheffield utd,3-2,peter foakes,1
29,30,1992-08-22,sheffield wed,chelsea,3-3,roger dilkes,1
...,...,...,...,...,...,...,...
70,71,1992-09-05,qpr,ipswich,0-0,dermot gallagher,1
71,72,1992-09-05,sheffield wed,man city,0-3,ray bigger,1
72,73,1992-09-05,spurs,everton,2-1,robert hart,1
73,74,1992-09-05,wimbledon,arsenal,3-2,keith burge,1
74,75,1992-09-06,man utd,leeds,2-0,philip don,1
75,76,1992-09-12,arsenal,blackburn,0-1,mike reed,1
76,77,1992-09-12,chelsea,norwich,2-3,keren barratt,1
77,78,1992-09-12,crystal palace,oldham,2-2,brian hill,1
78,79,1992-09-12,everton,man utd,0-2,mike peck,1
79,80,1992-09-12,ipswich,wimbledon,2-1,stephen lodge,1
80,81,1992-09-12,man city,middlesbrough,0-1,peter willis,1
81,82,1992-09-12,nottingham forest,sheffield wed,1-2,gerald ashby,1
82,83,1992-09-12,sheffield utd,liverpool,1-0,john martin,1
83,84,1992-09-12,southampton,qpr,1-2,alan gunn,1
84,85,1992-09-13,leeds,aston villa,1-1,joe worrall,1
85,86,1992-09-14,coventry,spurs,1-0,martin bodenham,1
86,87,1992-09-15,blackburn,everton,2-3,david allison,1
87,88,1992-09-19,aston villa,liverpool,4-2,philip don,1
88,89,1992-09-19,everton,crystal palace,0-2,dermot gallagher,1
89,90,1992-09-19,norwich,sheffield wed,1-0,bob nixon,1
90,91,1992-09-19,oldham,ipswich,4-2,john key,1
91,92,1992-09-19,qpr,middlesbrough,3-3,jim borrett,1
92,93,1992-09-19,sheffield utd,arsenal,1-1,roger dilkes,1
93,94,1992-09-19,southampton,leeds,1-1,alf buksh,1
94,95,1992-09-19,spurs,man utd,1-1,ron groves,1
95,96,1992-09-19,wimbledon,blackburn,1-1,martin bodenham,1
96,97,1992-09-20,man city,chelsea,0-1,keith hackett,1
97,98,1992-09-21,nottingham forest,coventry,1-1,kelvin morton,1
98,99,1992-09-26,blackburn,oldham,2-0,vic callow,1
99,100,1992-09-26,chelsea,nottingham forest,0-0,joe worrall,1

In [22]:
premData.to_csv("prem_cleaned1.csv",index=False)
elevenData.to_csv("11v11_cleaned1.csv",index=False)