In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
df_new_goalscorers = pd.read_csv("goalscorers_added_fixed_step6_2.csv")

In [13]:
eleven_home_goalscorers = {}
eleven_away_goalscorers = {}
for i in range(len(df_new_goalscorers)):
    row = df_new_goalscorers.iloc[i]
    eleven_home_goalscorers[row['11id']] = row['home_scorers']
    eleven_away_goalscorers[row['11id']] = row['away_scorers']

def replace_home_scorers(row):
    h_scorers = row['h_scorers']
    eleven_id = row['11id']
    try:
        goalscorers = eleven_home_goalscorers.get(eleven_id)
        if goalscorers != None:
            return goalscorers
        else:
            return h_scorers
    except Exception:
        return h_scorers
    
def replace_away_scorers(row):
    a_scorers = row['a_scorers']
    eleven_id = row['11id']
    try:
        goalscorers = eleven_away_goalscorers.get(eleven_id)
        if goalscorers != None:
            return goalscorers
        else:
            return a_scorers
    except Exception:
        return a_scorers
    
df_old = pd.read_csv("fixed_referees_step5.csv")
df_new = df_old.copy()
df_new['h_scorers'] = df_new.apply(replace_home_scorers,axis=1)
df_new['a_scorers'] = df_new.apply(replace_away_scorers,axis=1)
df_new.tail(10)

,premid2,season2,date2,home2,score2,away2,ref2,11id,season,date,...,ref,stadium,h_scorers,a_scorers,h_players,a_players,home_equal,away_equal,refs_equal,final_ref
10116,22712,26,2018-05-13,burnley,1-2,bournemouth,paul tierney,357541,26,2018-05-13,...,paul tierney,turf moor,['229879'],"['230171', '230422']","['238976(90)', '236719(90)', '230854(90)', '23...","['226180(90)', '240454(90)', '229044(90)', '24...",True,True,True,paul tierney
10117,22713,26,2018-05-13,crystal palace,2-0,west brom,jonathan moss,357542,26,2018-05-13,...,jonathan moss,selhurst park,"['229203', '230883']",[],"['187308(90)', '229517(90)', '228176(90)', '22...","['14522(90)', '229792(90)', '244540(90)', '241...",True,True,True,jonathan moss
10118,22714,26,2018-05-13,huddersfield,0-1,arsenal,michael oliver,357543,26,2018-05-13,...,michael oliver,john smith's stadium,[],['230858'],"['237302(90)', '248868(90)', '229447(90)', '23...","['226616(90)', '239965(90)', '248934(90)', '23...",True,True,True,michael oliver
10119,22715,26,2018-05-13,liverpool,4-0,brighton,kevin friend,357544,26,2018-05-13,...,kevin friend,anfield,"['225036', '240705', '242341', '242901']",[],"['252212(90)', '225036(90)', '242341(90)', '24...","['242106(90)', '224927(90)', '230212(71)', '23...",True,True,True,kevin friend
10120,22716,26,2018-05-13,man utd,1-0,watford,lee mason,357545,26,2018-05-13,...,lee mason,old trafford,['250719'],[],"['226864(90)', '249673(90)', '229467(90)', '23...","['40205(90)', '238401(90)', '229581(90)', '252...",True,True,True,lee mason
10121,22717,26,2018-05-13,newcastle,3-0,chelsea,martin atkinson,357546,26,2018-05-13,...,martin atkinson,st james' park,"['239788', '242307', '242307']",[],"['236556(90)', '238370(90)', '237416(90)', '25...","['238052(90)', '240796(90)', '256605(90)', '42...",True,True,True,martin atkinson
10122,22718,26,2018-05-13,southampton,0-1,man city,andre marriner,357547,26,2018-05-13,...,andre marriner,st mary's stadium,[],[],"['229570(90)', '242840(90)', '251772(90)', '23...","['115855(90)', '239141(90)', '254251(90)', '23...",True,True,True,andre marriner
10123,22720,26,2018-05-13,spurs,5-4,leicester,craig pawson,357549,26,2018-05-13,...,craig pawson,wembley stadium,"['230567', '237870', '237870', '230567']","['238653', '241798', '249825', '238653']","['39667(90)', '231612(90)', '251505(90)', '238...","['49046(90)', '49700(56)', '107138(90)', '2372...",True,True,True,craig pawson
10124,22719,26,2018-05-13,swansea,1-2,stoke,anthony taylor,357548,26,2018-05-13,...,anthony taylor,liberty stadium,['227520'],"['3847', '248167']","['76743(90)', '226989(90)', '241171(90)', '253...","['237335(90)', '256328(90)', '229098(90)', '24...",True,True,True,anthony taylor
10125,22721,26,2018-05-13,west ham,3-1,everton,graham scott,357550,26,2018-05-13,...,graham scott,london stadium,"['228761', '249687', '249687']",['243519'],"['240807(90)', '250024(21)', '239089(90)', '56...","['236512(90)', '249528(46)', '238364(90)', '23...",True,True,True,graham scott

In [14]:
df_new.to_csv("fixed_goalscorers_step7.csv",index=False)