In [1]:
import pandas as pd
import numpy as np
import time

In [5]:
df_raw = pd.read_csv("all_seasons_league_table_data_added.csv")

In [6]:
df_raw.head()

,premid,11id,season,date,home,score,away,ref,stadium,h_scorers,...,hPos,hGSPG,hGCPG,hCSPG,hPtsPG,aPos,aGSPG,aGCPG,aCSPG,aPtsPG
0,1,20787,1,1992-08-15,arsenal,2-4,norwich,alan gunn,highbury,"['196', '484']",...,1.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0,0.0
1,2,20788,1,1992-08-15,chelsea,1-1,oldham,jim borrett,stamford bridge,['37518'],...,4.0,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.0,0.0
2,3,20789,1,1992-08-15,coventry,2-1,middlesbrough,howard king,highfield road,"['1062', '5386']",...,5.0,0.0,0.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0
3,4,20790,1,1992-08-15,crystal palace,3-3,blackburn,roger milford,selhurst park,"['43', '2074', '37263']",...,6.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
4,5,20791,1,1992-08-15,everton,1-1,sheffield wed,kelvin morton,goodison park,['400'],...,7.0,0.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0,0.0

In [7]:
def decide_target_variable(row):
    score = str(row["score"])
    goals = [int(x) for x in score.split("-")]
    if goals[0] > goals[1]:
        return "2"
    elif goals[0] == goals[1]:
        return "1"
    else:
        return "0"

def cleaned_to_model_ready(df_raw):
    df_raw['target'] = df_raw.apply(decide_target_variable,axis=1)
    df_raw.drop(['premid','11id','date','home','score','away','ref','stadium','h_scorers','h_players','a_scorers','a_players'],inplace=True,axis=1)
    return df_raw

In [8]:
df_new = cleaned_to_model_ready(df_raw.copy())
df_new.head()

,season,hPos,hGSPG,hGCPG,hCSPG,hPtsPG,aPos,aGSPG,aGCPG,aCSPG,aPtsPG,target
0,1,1.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0
1,1,4.0,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.0,0.0,1
2,1,5.0,0.0,0.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0,2
3,1,6.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,1
4,1,7.0,0.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0,0.0,1

In [9]:
df_new.to_csv("initial_dataset_final.csv",index=False)