In [1]:
%run basic_league_table_generator.ipynb

In [2]:
# Given a league table, need to generate the following statistics:
# Goals per game for 2 teams
# Goals conceded per game
# Clean sheets per game for 2 teams
# Points per game

# So first acquire row for that team
# Then get number of games
# Then divide each of the follow by # of games: GS, GC, CS, Pts

def get_useful_stats(league_table,row):
    homeName = row['home']
    awayName = row['away']
    homeTeam = league_table.query("Team == @homeName")
    awayTeam = league_table.query("Team == @awayName")
    hPos = int(homeTeam['Pos'])
    hGP = int(homeTeam['GP'])
    hGS = int(homeTeam['GS'])
    hGC = int(homeTeam['GC'])
    hCS = int(homeTeam['CS'])
    hPts = int(homeTeam['Pts'])
    aPos = int(awayTeam['Pos'])
    aGP = int(awayTeam['GP'])
    aGS = int(awayTeam['GS'])
    aGC = int(awayTeam['GC'])
    aCS = int(awayTeam['CS'])
    aPts = int(awayTeam['Pts'])
    
    if hGP == 0:
        h = [0,0,0,0]
    else:
        h = [round(x/hGP,2) for x in [hGS,hGC,hCS,hPts]]
    if aGP == 0:
        a = [0,0,0,0]
    else:
        a = [round(x/aGP,2) for x in [aGS,aGC,aCS,aPts]]
    
    stats = {'hPos':hPos,'hGSPG':h[0],'hGCPG':h[1],'hCSPG':h[2],'hPtsPG':h[3],'aPos':aPos,'aGSPG':a[0],'aGCPG':a[1],'aCSPG':a[2],'aPtsPG':a[3]}
    return stats

In [3]:
# Now need a function to put this all together for a df.apply() method
def get_league_table_stats(row,df,teams):
    date = str(row['date'])
    season = str(row['season'])
    df_season = df.query("season == @season")
    league_table = basic_league_table(date,df_season,teams)
    data = get_useful_stats(league_table,row)
    #print(date)
    return data

In [4]:
df = pd.read_csv("data_collected_final_version.csv")
df_new = df.copy()
df_new_26 = df_new.query("season == 26")
teams = df_new_26['home'].unique().tolist()

In [5]:
t1 = time.time()
df_new_26[['hPos','hGSPG','hGCPG','hCSPG','hPtsPG','aPos','aGSPG','aGCPG','aCSPG','aPtsPG']] = df_new_26.apply(lambda row: pd.Series(get_league_table_stats(row,df_new_26,teams)),axis=1)
t2 = time.time()
print("Took {} seconds".format(round(t2-t1,5)))

Took 39.26467 seconds

/home/joe/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [6]:
df_new_26.head()

,premid,11id,season,date,home,score,away,ref,stadium,h_scorers,...,hPos,hGSPG,hGCPG,hCSPG,hPtsPG,aPos,aGSPG,aGCPG,aCSPG,aPtsPG
9746,22342,353372,26,2017-08-11,arsenal,4-3,leicester,mike dean,emirates stadium,"['226861', '228565', '236297', '239106']",...,1.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0
9747,22343,353379,26,2017-08-12,brighton,0-2,man city,michael oliver,amex stadium,[],...,3.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
9748,22344,353374,26,2017-08-12,chelsea,2-3,burnley,craig pawson,stamford bridge,['230550'],...,5.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
9749,22345,353375,26,2017-08-12,crystal palace,0-3,huddersfield,jonathan moss,selhurst park,[],...,6.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0
9750,22346,353376,26,2017-08-12,everton,1-0,stoke,neil swarbrick,goodison park,['19527'],...,7.0,0.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,0.0

In [7]:
# Now we need to generalise get_league_table_stats to work for all seasons
def get_league_table_stats_all(row,df):
    date = str(row['date'])
    season = str(row['season'])
    df_season = df.query("season == @season")
    teams = df_season['home'].unique().tolist()
    league_table = basic_league_table(date,df_season,teams)
    data = get_useful_stats(league_table,row)
    return data

In [8]:
df2 = df.copy()
t1 = time.time()
df2[['hPos','hGSPG','hGCPG','hCSPG','hPtsPG','aPos','aGSPG','aGCPG','aCSPG','aPtsPG']] = df2.apply(lambda row: pd.Series(get_league_table_stats_all(row,df2)),axis=1)
t2 = time.time()
print("Took {} seconds".format(round(t2-t1,5)))

Took 962.60259 seconds

In [9]:
df2.head()

,premid,11id,season,date,home,score,away,ref,stadium,h_scorers,...,hPos,hGSPG,hGCPG,hCSPG,hPtsPG,aPos,aGSPG,aGCPG,aCSPG,aPtsPG
0,1,20787,1,1992-08-15,arsenal,2-4,norwich,alan gunn,highbury,"['196', '484']",...,1.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0,0.0
1,2,20788,1,1992-08-15,chelsea,1-1,oldham,jim borrett,stamford bridge,['37518'],...,4.0,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.0,0.0
2,3,20789,1,1992-08-15,coventry,2-1,middlesbrough,howard king,highfield road,"['1062', '5386']",...,5.0,0.0,0.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0
3,4,20790,1,1992-08-15,crystal palace,3-3,blackburn,roger milford,selhurst park,"['43', '2074', '37263']",...,6.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
4,5,20791,1,1992-08-15,everton,1-1,sheffield wed,kelvin morton,goodison park,['400'],...,7.0,0.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0,0.0

In [10]:
df2.to_csv("all_seasons_league_table_data_added.csv",index=False)