In [1]:
import pandas as pd
df = pd.read_csv("main_features_v2.csv")
%run league-table-generator-copy.ipynb

def create_all_final_league_tables(df):
    seasons = df['season'].unique().tolist()
    tables = {}
    for s in seasons:
        df_season = df.query("season == @s")
        date = pd.to_datetime('now')
        teams = df_season['home'].unique().tolist()
        table = basic_league_table(date,df_season,teams)
        tables[s] = table
    return tables

In [2]:
df2 = pd.read_csv("main_database_v0.csv")
league_tables = create_all_final_league_tables(df2)

In [3]:
league_tables[8]

    Pos           Team  GP   W   D   L  GS  GC  GD  CS  Pts
0     1        man utd  38  28   7   3  97  45  52  12   91
1     2        arsenal  38  22   7   9  73  43  30  10   73
2     3          leeds  38  21   6  11  58  43  15  13   69
3     4      liverpool  38  19  10   9  51  30  21  15   67
4     5        chelsea  38  18  11   9  53  34  19  17   65
5     6    aston villa  38  15  13  10  46  35  11  16   58
6     7     sunderland  38  16  10  12  57  56   1   9   58
7     8      leicester  38  16   7  15  55  55   0   8   55
8     9       west ham  38  15  10  13  52  53  -1  10   55
9    10          spurs  38  15   8  15  57  49   8   8   53
10   11      newcastle  38  14  10  14  63  54   9  12   52
11   12  middlesbrough  38  14  10  14  46  52  -6   9   52
12   13        everton  38  12  14  12  59  49  10  11   50
13   14       coventry  38  12   8  18  47  54  -7   9   44
14   15    southampton  38  12   8  18  45  62 -17  11   44
15   16          derby  38   9  11  18  44  57 -13  11   38
16   17       bradford  38   9   9  20  38  68 -30   7   36
17   18      wimbledon  38   7  12  19  46  74 -28   5   33
18   19  sheffield wed  38   8   7  23  38  70 -32   7   31
19   20        watford  38   6   6  26  35  77 -42   6   24

In [4]:
def get_pos(team,table):
    if team in table['Team'].unique().tolist():
        entry = table.query("Team == @team")
        return int(entry['Pos'])
    else:
        return int(18)

In [5]:
def get_last_season_pos(row,homeBool,tables):
    if homeBool:
        team = row['home']
    else:
        team = row['away']
        
    season = row['season']
    table = tables[int(season)-1]
    pos = get_pos(team,table)
    return pos

In [6]:
df['hPosLS'] = df.apply(get_last_season_pos,args=(True,league_tables),axis=1)
df['aPosLS'] = df.apply(get_last_season_pos,args=(False,league_tables),axis=1)

In [7]:
df.tail()

,season,date,home,score,away,hPos,hGSPG,hGCPG,hCSPG,hPtsPG,...,hGD5,hGD7,aPTSPG3,aPTSPG5,aPTSPG7,aGD3,aGD5,aGD7,hPosLS,aPosLS
6835,26,2018-05-13,newcastle,3-0,chelsea,10.0,0.97,1.27,0.22,1.11,...,-0.6,-0.143,2.333,2.6,2.000,0.667,0.8,0.286,18,1
6836,26,2018-05-13,southampton,0-1,man city,17.0,1.00,1.49,0.22,0.97,...,0.2,-0.429,2.333,2.6,2.286,1.667,2.4,1.857,8,3
6837,26,2018-05-13,spurs,5-4,leicester,3.0,1.86,0.86,0.43,2.00,...,0.0,0.429,1.000,0.8,1.000,-1.667,-1.2,-0.714,2,12
6838,26,2018-05-13,swansea,1-2,stoke,18.0,0.73,1.46,0.24,0.89,...,-1.6,-1.429,0.667,0.6,0.429,-0.333,-0.4,-0.857,15,13
6839,26,2018-05-13,west ham,3-1,everton,15.0,1.22,1.81,0.27,1.05,...,-0.8,-0.143,2.333,1.8,1.714,1.000,0.6,0.286,11,7

In [9]:
league_tables[25]

    Pos            Team  GP   W   D   L  GS  GC  GD  CS  Pts
0     1         chelsea  38  30   3   5  85  33  52  16   93
1     2           spurs  38  26   8   4  86  26  60  17   86
2     3        man city  38  23   9   6  80  39  41  12   78
3     4       liverpool  38  22  10   6  78  42  36  12   76
4     5         arsenal  38  23   6   9  77  44  33  13   75
5     6         man utd  38  18  15   5  54  29  25  17   69
6     7         everton  38  17  10  11  62  44  18  13   61
7     8     southampton  38  12  10  16  41  48  -7  14   46
8     9     bournemouth  38  12  10  16  55  67 -12  10   46
9    10       west brom  38  12   9  17  43  51  -8   6   45
10   11        west ham  38  12   9  17  47  64 -17  10   45
11   12       leicester  38  12   8  18  48  63 -15   9   44
12   13           stoke  38  11  11  16  41  56 -15  11   44
13   14  crystal palace  38  12   5  21  50  63 -13   7   41
14   15         swansea  38  12   5  21  45  70 -25   8   41
15   16         burnley  38  11   7  20  39  55 -16  10   40
16   17         watford  38  11   7  20  40  68 -28   7   40
17   18            hull  38   9   7  22  37  80 -43   5   34
18   19   middlesbrough  38   5  13  20  27  53 -26  11   28
19   20      sunderland  38   6   6  26  29  69 -40   6   24

In [10]:
df.to_csv("main_database_v3.csv",index=False)